.todocontainer {
  margin: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 8px 8px;
  box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.titlecontainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 249, 167);
}

.titlecontainer p {
  font-weight: 700;
}

.categorycontainer {
  margin-top: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 14px;

}

.categorycontainer p {
  font-weight: 300;
  color:rgb(100, 92, 0);
}

.buttonscontainer {
  margin-top: 15px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.buttonscontainer button {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: white;    
  padding: 5px;
}

.done {
  background-color: #17c201;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.x {
  background-color: #bf0000;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  
}