.navibar {
  background-color: rgba(237, 237, 237, 0.986);
  box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 20px;
}

.navibar-container ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navibar-container h1 {
  text-decoration: none;
  color: #ffa600;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  justify-content: center;
}

.navibar-container li {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  font-size: 25px;
}

.navbar li:hover > a {
  color: #fff;
}

.navibar-title-container h1 {
  font-family: Arial, Helvetica, sans-serif;
}
