.profile-container {
  margin-top: 20px;
  /* width: 300px; */
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
}

.profile-container h1 {
  color: rgb(110, 110, 109);
}
